#root {
  margin: 0 auto;
  text-align: center;
  background-color: grey;
  height: 100%;
  width: 100%;
}

/* ITEM LIST */
.table-container {
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border: 1px solid black;
}

